.MainWindow {
	height: 400px;
	width: 800px;
	margin: 0px auto;
	background-color: rgb(95, 105, 160);
	border-radius: 15px;
}
.textElement {
	color:black;
	list-style-type: none;
	border: black solid 1px;
	padding: 4px;
	border-radius: 5px;
	margin: 10px auto;
	width: 700px;
	height: 20px;
}

.UL {
	padding: 10px
}
.CheckBox {
	margin-right:10px;
}

